body{
    margin: 0%;
}

.Navbar{
    overflow: hidden;
    background-color: rgba(17, 17, 17, 0.897);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    opacity: 60;
    text-align: center;
}
.Navbar a{
    display:inline-flex;
    margin: 0% auto;
    color: rgba(255, 0, 0, 0.651);
    padding: 14px 16px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: sticky;
    align-content: center;
}
.Navbar a:hover{
    background-color: #ff88008a;
    color: black;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
}
.Video_Text{
    background: rgba(0, 0, 0, 0.664);
    color: whitesmoke;
    width: 100%;
    padding: 20px;
    margin-top: 23%;
}
*{
    box-sizing: border-box;
}
.Column_1{
    float: left;
    width: 50%;
    padding: 20px;
    padding-top: 2%;
    height: 400px;
    background-color: whitesmoke;
    margin: 0px auto;
}
.Column_2{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #3f5e7c;
}
.Column_3{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 400px;
    background-color: #3f5e7c;
}
#Typing_Video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}
.Row::after{
    content: "";
    display: table;
    clear: both;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
center{
    font-family:Rockwell Extra Bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
a{
    color: blue;
}
h1{
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    margin-top: 0%;
    color: #1a1a1a;
}
h4{
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}
q{
    font-style: italic;
    font-weight: bold;
}
img{
    filter: grayscale(40%);
    border-radius: 30px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right:auto;
    display: block;
    padding: 5px;
}
/* Contact form  */
.button_1:hover {
    background-color: Gray;
    color: black;
    font-weight: bold;
    transform: scale(1.5);
    transition: transform 1.5s;
}
input[type=text] {
    width: 100%;
    padding: 12px;
    border:1px solid rgb(0, 0, 0);
    border-radius: 6px;
    box-sizing: border-box;
    margin-top:6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Rockwell Extra Bold;
    
    }
input [type=text]:hover {
    box-shadow: 0 0 18px rgba(255, 136, 0, 0.74)
    
}
.button_1 {
    background-color: rgb(255, 81, 0);
    color: whitesmoke;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: rockwell extra bold;
    
}

form{
    border-radius: 2px;
    background-color: #3f5e7c;
    padding:15px;
    font-family: sans-serif;
    margin: 0% auto;
    font-weight: 700;
    color: aqua;
    width: 50%;
    border-radius: 10px;
} 
/*  popup  */
.contact_popup {
  margin: 10px auto;
  z-index: 8;
  display: none;
  position: relative;
  bottom: 6px;
  right: 6px;
}
.Pop_Up_Button {
  bottom: 15px;
  right: 15px;
  height: 40px;
  width: 15vw;  
  background-color:rgb(255, 81, 0);
  color: white;
  border: solid;
  cursor: pointer;
  position: fixed;
  border-radius: 6px;
  font-size: 18px;
  float: right;
 
}

/* Contact form End */
p:hover{
    color: #00004d;
    transition: transform 1s;
    transform:scale(1.01);
}
h1:hover{
    color: black;
    font-weight: normal;
}
img:hover{
    filter:grayscale(5%);
    transition: transform 1s;
    transform:scale(1.1);
}
footer{
    padding:1px;
    background-color:beige;
}
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 33.3%;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    overflow: center;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    background-color: #030303;
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 1200px;
  }
  
  .close {
    color:rgba(255, 102, 0, 0.582);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(153, 153, 153);
    text-decoration: none;
    cursor: pointer;
  }
  .slides {
    display: none;
  }
  .prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
 .indicator {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  img.demo {
    opacity: 0.6;
  }
  
  .active,.demo:hover {
    opacity: 1;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  img.hover-shadow {
    transition: 0.3s;
  }
  
